:css
  body {
    background: #3e94ec;
    color: white;
    text-align: center;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 10pt;
  }
  .errors{
    color: #ff0000;
  }
  input, select, textarea{
      color: #555;
  }
  h1 {
    font-size: 3em;
  }

  a {
    color: inherit;
  }

  form {
    width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  input, .floating-placeholder {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20pt;
    line-height: 2.6em;
    height: 2.6em;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .floating-placeholder input:focus + label {
    color: #16abf0;
  }

  .floating-placeholder input[value] + label {
    color: red;
  }

  .floating-placeholder {
    position: relative;
  }

  .floating-placeholder input {
    font-size: 20pt;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: transparent;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    text-indent: 20px;
  }

  .floating-placeholder:last-child input {
    border-bottom: none;
  }

  .floating-placeholder label {
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 20pt;
    z-index: 1;
    -moz-transform-origin: 0 0em;
    -ms-transform-origin: 0 0em;
    -webkit-transform-origin: 0 0em;
    transform-origin: 0 0em;
    -moz-transition: -moz-transform 160ms, color 200ms;
    -o-transition: -o-transform 160ms, color 200ms;
    -webkit-transition: -webkit-transform 160ms, color 200ms;
    transition: transform 160ms, color 200ms;
    -moz-transform: scale(1, 1) rotateY(0);
    -ms-transform: scale(1, 1) rotateY(0);
    -webkit-transform: scale(1, 1) rotateY(0);
    transform: scale(1, 1) rotateY(0);
    color: #aaa;
  }

  .floating-placeholder-float label {
    -moz-transform: scale(0.55, 0.55) rotateY(0);
    -ms-transform: scale(0.55, 0.55) rotateY(0);
    -webkit-transform: scale(0.55, 0.55) rotateY(0);
    transform: scale(0.55, 0.55) rotateY(0);
  }

  .floating-placeholder-float input {
    line-height: 3.4em;
  }
:javascript
  $(document).ready(function(){
    function updateText(event){
      var input=$(this);
      setTimeout(function(){
        var val=input.val();
        if(val!="")
          input.parent().addClass("floating-placeholder-float");
        else
          input.parent().removeClass("floating-placeholder-float");
        $(".field-with-errors").addClass(".floating-placeholder-float");
      },1)
    }
    $(".floating-placeholder input").keydown(updateText);
    $(".floating-placeholder input").change(updateText);
    $(".floating-placeholder input").each(updateText);
  });
.errors
  - if @contact.errors.any?
    #error_explanation
      %h3
        = pluralize(@contact.errors.count, "error")
        Stopped
        this contact from being entered in:
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
= form_for @contact do |f|
  .floating-placeholder
    = f.label :Name
    = f.text_field :Name
  .floating-placeholder
    = f.label :Email
    = f.text_field :Email
  .floating-placeholder
    = f.label :Phone
    = f.text_field :Phone
  .floating-placeholder
    = f.label :Address
    = f.text_field :Address
  .floating-placeholder
    = f.submit
