%h1 Listing Contacts
%table.table.table-hover
  %tr
    %th Name
    %th Email
    %th Phone
    %th Address
  - @contacts.each do |contact|
    %tr
      %td= contact.Name
      %td= contact.Email
      %td= contact.Phone
      %td= contact.Address
      %td= link_to 'Show', contact_path(contact)
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact_path(contact),method: :delete,data: { confirm: 'Are you sure?' }
= link_to 'New contact', new_contact_path