:css
  @import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

  body {
    text-align: center;
    background-color: #3e94ec;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }

  div.table-title {
     display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
  }

  .table-title h3 {
     color: #fafafa;
     font-size: 30px;
     font-weight: 400;
     font-style:normal;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     text-transform:uppercase;
  }


  /*** Table Styles **/

  .table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }

  th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

  th:first-child {
    border-top-left-radius:3px;
  }

  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }

  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

  tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
  }

  tr:first-child {
    border-top:none;
  }

  tr:last-child {
    border-bottom:none;
  }

  tr:nth-child(odd) td {
    background:#EBEBEB;
  }

  tr:nth-child(odd):hover td {
    background:#4E5066;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }

  td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }

  td:last-child {
    border-right: 0px;
  }

  th.text-left {
    text-align: left;
  }

  th.text-center {
    text-align: center;
  }

  th.text-right {
    text-align: right;
  }

  td.text-left {
    text-align: left;
  }

  td.text-center {
    text-align: center;
  }

  td.text-right {
    text-align: right;
  }
  .animate
  {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }

  .action-button
  {
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
  }
  a:hover.green {
      color: #fff;
  }
  .green
  {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
  }
  .action-button:active
  {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }
= render 'menu'
%body
  .table-title
    %h3 YOUR FRIENDS
  %table.table-fill
    %thead
      %tr
        %th.text-left Name
        %th.text-left Email
        %th.text-left Phone
        %th.text-left Address
        %th.text-left SEE
        %th.text-left EDIT
        %th.text-left ERASE
    %tbody.table-hover
      - @contacts.sort_by!{ |m| m.Name.downcase }
      - @contacts.each do |contact|
        %tr
          %td.text-left= contact.Name
          %td.text-left= contact.Email
          %td.text-left= contact.Phone
          %td.text-left= contact.Address
          %td.text-left= link_to 'SEE', contact_path(contact)
          %td.text-left= link_to 'EDIT', edit_contact_path(contact)
          %td.text-left= link_to 'ERASE', contact_path(contact),method: :delete,data: { confirm: 'Do you really want to lose your FRIEND?' }
  %br
%a.action-button.shadow.animate.green{:href => new_contact_path} ADD FRIEND

